.categories {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;	
}

.categories div {
	margin: 20px;
	text-align: center;
	width: 200px;
	height: 200px;
	background-color: #6772e5;
	color: #FFF;
	
  font-weight: bold;
}

.categories div:hover {
	opacity: 0.5;
}

.categories li {
	position: relative;
	top: 40%;	
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}