.categories {
	display: flex;
	flex-flow: row wrap;
}

.categories li {
	flex-basis: 30%;
	list-style-type: none;
	width: 200px;
	height: 200px;
	background-color: #20123a;
	margin: 10px;
	text-align: center;
	padding-top: 100px;
}

.categories a {
	color: #FFF;
}